{{define "adminAddEquipment"}}

<div class="container mt-3">

    <h4 class="">Equipment hinzufügen</h4>
    <form class="form mt-4" role="form" onsubmit="return validateForm()" method="POST" enctype="multipart/form-data">
        <div class="row mt-2">
            <div class="col-8">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="bz">Bezeichnung</label>
                            <input type="text" class="form-control" name="bz" id="bz">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group text-right">
                            <label for="kat">Kategorie</label>
                            <select class="form-control" name="kat" id="kat">
                                <option>Alle</option>
                                <option>Kameras</option>
                                <option>Mikrofone</option>
                                <option>Monitore</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="invNum">Inventar-Nummer</label>
                            <input type="text" class="form-control" name="invNum" id="invNum">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group text-right">
                            <label for="lgo">Lagerort</label>
                            <input type="text" class="form-control" name="lgo" id="lgo">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="bz">Inhalt</label>
                            <input type="text" class="form-control" name="inhalt" id="inhalt">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group text-right">
                            <label for="anz">Anzahl</label>
                            <input type="text" class="form-control text-right" name="anz" id="anz">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="hinweis">Hinweise für den Benutzer</label>
                            <textarea class="form-control" name="hinweis" id="hinweis" rows="2"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn button-startpage" id="btnLogin">Speichern</button>
                    </div>
                </div>
            </div>
            <div class="offset-1 col-3 text-right">
                <div class="d-flex flex-column">
                    Profilbild
                </div>
                <div class="d-flex flex-column">
                    <img class="img-fluid" name="bildurl" src="//placehold.it/300x200?text=Profilbild" alt="profilbild" style="height: 200px; width: 300px">
                </div>
                <div class="d-flex flex-column my-2 text-right">
                    <input style="width: 250px" type="file" name="img">
                </div>
            </div>
        </div>
    </form>
</div>

{{end}}