{{define "index"}}
<!-- CONTENT -->
<div class="container mid-content">
    <div class="row">
        <div class="col big-bold-text">
            Willkommen bei
        </div>
    </div>
    <div class="row">
        <div class="col title">
        {{split .Title 0}}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-2">
            <form action="/login"><input type="submit" class="btn button-startpage btn-block" value="Login"/></form>
        </div>
        <div class="col-md-2">
            <form action="/register"><input type="submit" class="btn button-startpage btn-block" value="Registrieren"/>
            </form>
        </div>
    </div>

    <!-- CAROUSEL -->
    <div class="container-fluid mid-content">
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner row w-100 mx-auto" role="listbox">
                <div class="carousel-item col-md-3 active">
                    <a href="/equipment">
                        <img class="img-fluid mx-auto d-block" style="width: 250px; height: 120px"
                             src="/static/images/audio3.png" alt="slide 1">
                    </a>
                </div>
                <div class="carousel-item col-md-3">
                    <a href="/equipment">
                        <img class="img-fluid mx-auto d-block" style="width: 250px; height: 120px"
                             src="/static/images/kommunikation1.png" alt="slide 2">
                    </a></div>
                <div class="carousel-item col-md-3">
                    <a href="/equipment">
                        <img class="img-fluid mx-auto d-block" style="width: 250px; height: 120px"
                             src="/static/images/kabel1.png" alt="slide 3">
                    </a></div>
                <div class="carousel-item col-md-3">
                    <a href="/equipment">
                        <img class="img-fluid mx-auto d-block" style="width: 250px; height: 120px"
                             src="/static/images/cam1.png" alt="slide 4">
                    </a></div>
                <div class="carousel-item col-md-3">
                    <a href="/equipment">
                        <img class="img-fluid mx-auto d-block" style="width: 250px; height: 120px"
                             src="/static/images/kommunikation1.png" alt="slide 5">
                    </a></div>
                <div class="carousel-item col-md-3">
                    <a href="/equipment">
                        <img class="img-fluid mx-auto d-block" style="width: 250px; height: 120px"
                             src="/static/images/kabel1.png" alt="slide 6">
                    </a></div>
                <div class="carousel-item col-md-3">
                    <a href="/equipment">
                        <img class="img-fluid mx-auto d-block" style="width: 250px; height: 120px"
                             src="/static/images/audio3.png" alt="slide 7">
                    </a></div>
                <div class="carousel-item col-md-3">
                    <a href="/equipment">
                        <img class="img-fluid mx-auto d-block" style="width: 250px; height: 120px"
                             src="/static/images/cam1.png" alt="slide 8">
                    </a></div>
            </div>
            <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
                <i class="fas fa-chevron-left fa-lg text-muted"></i>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next text-faded" href="#carouselExample" role="button" data-slide="next">
                <i class="fas fa-chevron-right fa-lg text-muted"></i>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
{{end}}