{{define "layout"}}

<html lang="en" xmlns="http://www.w3.org/1999/html">
    <base>
        <!-- META TAGS -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <!-- BOOTSTRAP CSS -->
            <link rel="stylesheet" href="/static/css/bootstrap-4.1.0.css">
            <!-- CUSTOM CSS -->
            <link rel="stylesheet" href="/static/css/carousel.css">
            <link rel="stylesheet" href="/static/css/fontawesome-all.css">
            <link rel="stylesheet" href="/static/css/index.css">
            <link rel="stylesheet" href="/static/css/meinegeräte.css">

            <!-- PWCheck JS -->
            <script src="/static/js/registerCheck.js"></script>
        <title>borgdir.media - Startseite</title>
    </head>
    <body>
    <!-- JQUERY AND BOOTSTRAP JAVASCRIPT -->
    <script src="/static/js/jquery-3.3.1.js"></script>
    <script src="/static/js/bootstrap-4.1.0.js"></script>

    <!-- CUSTOM JS -->
    <script src="/static/js/index.js"></script>
    </body>
</html>
{{end}}