{{define "myequipment"}}
<div class="container mt-5">
    <h4 class="">Meine Geräte</h4>
    <br>
    <div class="row bottom-border cursiv-text bold-text">
        <div class="col-3">
            Equipment
        </div>
        <div class="col-3">
            Beschreibung
        </div>
        <div class="col-2 centered-text">
            Entliehen am
        </div>
        <div class="col-2 centered-text">
            Rückgabe bis
        </div>
        <div class="col-2">
            <p class="centered-text">Verlängern</p>
        </div>
    </div>
    <br>
{{range .Items}}
{{if eq .Noticed 0}}
    <div class="row equipment-row mb-3">
        <div class="col-3">
            <div class="row">
                <div class="col-4">
                    <img class="img-fluid" style="width: 160px; height: 80px" src="static/images/{{.BildURL}}">
                </div>
                <div class="col-6">
                    <div class="row equipment-label">
                        <p class="bold-text equipment-label">{{.Bezeichnung}}</p>
                    </div>
                    <div class="row">
                        <p class="small-text cursiv-text">Inv.Nr. {{.InventarNummer}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 text-spalte">
            <p>{{.Hinweis}}</p>
        </div>
        <div class="col-2">
            <p class="minimal-margin cursiv-text centered-text">{{.Beginn}}</p>
        </div>
        <div class="col-2">
            <p class="minimal-margin red-text cursiv-text centered-text">{{.Rueckgabe}}</p>
        </div>
        <div class="col-2 text-center">
            <a href="/extend-lend/{{.ItemID}}">
                <button type="submit" class="btn btn-default button-startpage">Verlängern</button>
            </a>
        </div>
    </div>
{{end}}
{{end}}
    <h4 class="mt-5 cursiv-text">Vorgemerkt</h4>
    <div class="row bottom-border cursiv-text bold-text">
        <div class="col-3">
            Equipment
        </div>
        <div class="col-3">
            Beschreibung
        </div>
        <div class="col-4 centered-text">
            Rückgabe vsl.
        </div>
        <div class="col-2 offset-0">
            <p class="centered-text">Entfernen</p>
        </div>
    </div>
{{range .Items}}
{{if eq .Noticed 1}}
    <div class="mt-2 row equipment-row">
        <div class="col-3">
            <div class="row">
                <div class="col-4">
                    <img class="img-fluid" style="width: 160px; height: 80px" src="/static/images/{{.BildURL}}">
                </div>
                <div class="col-6">
                    <div class="row equipment-label">
                        <p class="bold-medium-text minimal-margin equipment-label">{{.Bezeichnung}}</p>
                    </div>
                    <div class="row">
                        <p class="small-text cursiv-text">Inv.Nr.: {{.InventarNummer}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 text-spalte">
            <p>{{.Hinweis}}</p>
        </div>

        <div class="col-4">
            <p class="red-text cursiv-text centered-text">17.03.2018</p>
        </div>
        <div class="col-2 offset-0">
            <a href="/notice/off/{{.ItemID}}">
                <button type="button" class="btn btn-block button-startpage">Entfernen</button>
            </a>
        </div>
    </div>
{{end}}
{{end}}
</div>
{{end}}