body {
    font-family: "Arial";
    overflow: auto;
}

a:link {
    color: #000000;
    text-decoration: none;
}

a:visited {
    color: #000000;
}

a:hover {
    color: #ff6448;
}

a:active {
    color: #ff6448;
}

a.title {
    color: #ff6448;
    font-size: 50px;
}

.title {
    color: #ff6448;
    font-size: 50px;
}

a.title:link {
    color: #ff6448;
}

.menu-item {
    font-size: 20px;
}

.separator {
    font-weight: bolder;
}

.mid-content {
    margin-top: 5%;
    text-align: center;
}

.big-bold-text {
    font-weight: bold;
    font-size: 20px;
}

.button-startpage {
    color: #ffffff;
    background: #ff6448;
    border-radius: 13px;
}

.button-loeschen {
    color: #ffffff;
    background: #464646;
    border-radius: 15px;
}

.active {
    color: lawngreen;
}

.user {
    color: #ff6448;
}

.cart-icon {
    font-size: 40px;
}

.cart-icon-small {
    font-size: 30px;
}

.user-icon {
    font-size: 50px;
}

.admin-icon {
    font-size: 150px;
}

.img-pb {
    max-height: 200px;
    max-width: 300px;
}

.background {
    background: gray;
}

.spinner input {
    text-align: right;
}

.input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
    display: table-cell;
}

.input-group-btn-vertical > .btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 9px;
    margin-left: -1px;
    position: relative;
    border-radius: 0;
}

.input-group-btn-vertical > .btn:first-child {
    border-top-right-radius: 4px;
}

.input-group-btn-vertical > .btn:last-child {
    margin-top: -2px;
    border-bottom-right-radius: 4px;
}

.input-group-btn-vertical i {
    position: absolute;
    top: 0;
    left: 4px;
}